In [ ]:
PYTHON STRING EXERCISES

In [3]:
name="blue"

In [4]:
name*3

'blueblueblue'

In [5]:
"B"+name[2:]

'Bue'

In [6]:
names=["blue","red","green"]

In [10]:
for i in names:
    print("Name:",i, sep="")

Name:blue
Name:red
Name:green

In [12]:
print(*enumerate(names))

(0, 'blue') (1, 'red') (2, 'green')

In [13]:
for i in enumerate(names):
    print(i)

(0, 'blue')
(1, 'red')
(2, 'green')

In [14]:
for i in enumerate(names,3):
    print(i)

(3, 'blue')
(4, 'red')
(5, 'green')

In [15]:
"blue".isalpha()

True

In [16]:
"blue2".isalpha()

False

In [17]:
"123".isnumeric()

True

In [18]:
"123".isdigit()

True

In [19]:
"blue2".isalnum()

True

In [21]:
name="bluebl"

In [22]:
name.index("b")

0

In [23]:
name.index("b",1)

4

In [24]:
name.startswith("b")

True

In [25]:
name.endswith("l")

True

In [26]:
name.count("b")

2

In [27]:
sorted("green")

['e', 'e', 'g', 'n', 'r']

In [29]:
print(*sorted("green"),sep="")

eegnr

In [32]:
name="october november december"

In [34]:
name.split()

['october', 'november', 'december']

In [35]:
name.split(",")

['october november december']

In [36]:
name.upper()

'OCTOBER NOVEMBER DECEMBER'

In [37]:
name.lower()

'october november december'

In [40]:
name="OCTOBER november december"

In [41]:
name.swapcase()

'october NOVEMBER DECEMBER'

In [42]:
name.title()

'October November December'

In [43]:
name.capitalize()

'October november december'

In [44]:
name=" apple "

In [45]:
name.strip()

'apple'

In [46]:
name="*apple*"

In [47]:
name.strip("*")

'apple'

In [48]:
name="*apple*"

In [49]:
name.rstrip("*")

'*apple'

In [50]:
name.lstrip("*")

'apple*'

In [51]:
name="october november december"

In [52]:
a=name.split()

In [54]:
a

['october', 'november', 'december']

In [55]:
joiner=" "

In [56]:
joiner.join(a)

'october november december'

In [57]:
joiner="***"

In [58]:
joiner.join(a)

'october***november***december'

In [59]:
name

'october november december'

In [60]:
name.replace("o","b")

'bctbber nbvember december'

In [61]:
TR_ifade="bu İfade içerisinde TÜRKÇE karakterler vardır"

In [62]:
duzeltilecek_harfler="çÇğĞıİöÖşŞüÜ"
duzeltilmis_harfler="cCgGiIoOsSuU"

In [63]:
duzeltme=str.maketrans(duzeltilecek_harfler, duzeltilmis_harfler)

In [64]:
TR_ifade.translate(duzeltme)

'bu Ifade icerisinde TURKCE karakterler vardir'

In [66]:
import pandas as pd
name=["tom","trawy","bob","lucy","tomm"]
v=pd.Series(name)

In [67]:
v

0      tom
1    trawy
2      bob
3     lucy
4     tomm
dtype: object

In [68]:
v.str.contains("to")

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [69]:
v[v.str.contains("to")]

0     tom
4    tomm
dtype: object

In [70]:
v.str.contains("to").sum()

2

In [71]:
v.str.contains("[tT]o").sum()

2